@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

a {
    text-decoration: none;
  }
  body {
    background: -webkit-linear-gradient(bottom, #840AFF, #5620B4);
    background-attachment: fixed;
  
  }

  img {
    position: fixed;
    z-index:-1;
    bottom: 0;
    right: 0;
    width: 100%;
  }

  label {
    font-family: "Montserrat", sans-serif;
    font-size: 11pt;
  }
  #forgot-pass {
    color: #5720B5;
    font-family: "Montserrat", sans-serif;
    font-size: 10pt;
    margin-top: 12px;
    text-align: right;
  }
  #card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 410px;
    margin: 12rem auto 9.1rem auto;
    width: 329px;
  }
  #card-content {
    padding: 12px 44px;
  }
  #card-title {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
  }
  #signup {
    color: #5620B4;
    font-family: "Montserrat", sans-serif;
    font-size: 10pt;
    margin-top: 20px;
    text-align: center;
  }
  #submit-btn {
    background: -webkit-linear-gradient(right, #840AFF, #5620B4);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #5620B4;
    cursor: pointer;
    color: white;
    font-family: "Montserrat", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
  }
  #submit-btn:hover {
    box-shadow: 0px 1px 18px #840AFF;
  }
  .form {
    align-items: left;
    display: flex;
    flex-direction: column;
  }
  .form-border {
    background: -webkit-linear-gradient(right, #840AFF, #5620B4);
    height: 1px;
    width: 100%;
  }
  .form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
  }
  .underline-title {
    background: -webkit-linear-gradient(right, #840AFF, #5620B4);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
  }